
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Async Inn</title>
    <link rel="stylesheet" href="~/style/StyleSheet.css" />
</head>
<body>
    <h1>Hello World! </h1>
</body>
</html>
