<!DOCTYPE html>
@{
    ViewData["Title"] = "layout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/style/StyleSheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Hello World!</h1>
    <div>@RenderBody()</div>
    <footer>giggidy</footer>
</body>
</html>
